<ion-view view-title="Detalhe Evento">
    <ion-content>

        <ion-item>
            <h2 class="title">{{evento.descricao}} - <i class="ion-android-more-vertical"></i></h2>
            <p>Local: {{evento.local}}<br/>
            Data: {{evento.data}} as {{evento.horario}}<br/>
            Observação:{{evento.observacao}}
        </p>
        <div class="item item-divider">
            Programação
        </div>
        <ion-list>
            <ion-item ng-repeat="programa in evento.programacao" class="item">
                <h4>{{programa.descricao}}</h4>
                <p>{{programa.data}} as {{programa.hora}}</p>
            </ion-item>
        </ion-list>
        <div class="item item-divider">
            Recursos
        </div>
        <ion-list>
            <ion-item ng-repeat="recurso in evento.recursos" class="item">
                <h4>{{recurso.recurso}}</h4>
                <p>Qtd: {{recurso.quantidade}}
                        <br/> Disponivel:
                                <span ng-show="recurso.disponivel"> <i class="ion-checkmark-round"></i></span>
                                <span ng-hide="recurso.disponivel"> <i class="ion-close"></i></span>
                        <br/>Responsável:  {{recurso.responsavel}} </p>
            </ion-item>
        </ion-list>
        </ion-item>

    </ion-content>


    <ion-footer-bar class="button-bar">
        <div class="button-bar">
            <a class="button button-positive" ng-click="programacaoForm();"><i class="ion-clock"></i></a>
            <a class="button button-positive" ng-click="convidadoLista(evento.id);"><i class="ion-clipboard"></i></a>
            <a class="button button-positive" ng-click="recursoForm();"><i class="ion-briefcase"></i></a>
            <a class="button button-positive" ng-click="compartilharModal(evento.id);"><i class="ion-at"></i></a>
        </div>

    </ion-footer-bar>
</ion-view>
