<ion-view view-title="Eventos">

    <ion-content>
        <ion-list>
            <ion-item ng-repeat="evento in eventos" href="#/app/eventos/{{evento.id}}" class="item item-icon-left">
                <i class="icon ion-calendar"></i>
                <h2>{{evento.descricao}}</h2>
                <p>Local: {{evento.local}}<br/>Data: {{evento.data}} as {{evento.horario}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button  button-positive" ng-click="onNovoEvento();">Novo Evento</button>
        <div class="title">
            <div class="list">
            <select class="item-select">
                <option selected>Dia</option>
                <option>Proximo 2 dias</option>
                <option>Semana</option>
                <option>Mês</option>
                <option>2 Meses</option>
                <option>3 Meses</option>
                <option>6 Meses</option>
            </select>
            </div>
        </div>
        <button class="button button-positive" ng-click="onPesquisarEvento()">Pesquisar</button>
    </div>
</ion-view>
